@CHARSET "UTF-8";
.sort_table{
	width: 1200px;
	text-align: center;
	table-layout: fixed;
}

.sort_table td{
	border: 1px #FFA500 solid;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
.index_tr{
	text-align: left;	
}

 .sort_table .index_td{
	border: none;	
}

 .sort_table #oval {
    width: 160px;
    height: 30px;
    background: #98F5FF;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
}
