
/* Public style */
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
a {
  text-decoration: none;
  color: #817c7c;
}
a:hover,
a:focus {
  outline: 0;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.5s;
  -moz-transition: color 0.25s, background 0.5s;
  -o-transition: color 0.25s, background 0.5s;
  -ms-transition: color 0.25s, background 0.5s;
  transition: color 0.25s, background 0.5s;
}
a:hover:before {
  -webkit-transition: color 0.25s, background 0.5s;
  -moz-transition: color 0.25s, background 0.5s;
  -o-transition: color 0.25s, background 0.5s;
  -ms-transition: color 0.25s, background 0.5s;
  transition: color 0.25s, background 0.5s;
}
@media only screen and (min-width: 1024px) {
  .search input {
    width: 8em;
    -webkit-transition: 0.5s width;
    -moz-transition: 0.5s width;
    -o-transition: 0.5s width;
    -ms-transition: 0.5s width;
    transition: 0.5s width;
  }
}
/*index layout*/
#container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  #container {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  #container {
    width: 100%;
  }
}
@media only screen and (min-width: 1560px) {
  #container {
    width: 100%;
  }
}
#main {
  margin: 1em 0 0;
  line-height: 1.8;
}
@media only screen and (min-width: 1024px) {
  #main {
    margin: 2em 0 0;
    width: 100%;
    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
  }
}
#main section.post {
  background: #e5eae8;
  margin-bottom: 0.125em;
}
#main section.post a {
  display: block;
  border-left: 0.5em solid #ccc;
  -webkit-transition: border-left 0.45s;
  -moz-transition: border-left 0.45s;
  -o-transition: border-left 0.45s;
  -ms-transition: border-left 0.45s;
  transition: border-left 0.45s;
  padding: 0.5em;
}
/*@media only screen and (min-width: 768px) {
  #main section.post a {
    padding: 1em;
  }
}*/
#main section.post a:hover {
  border-left: 0.5em solid #2ca6cb;
}
#main section.post a h1 {
  color: #2ca6cb;
  line-height: 2;
}
#main section.post a p {
  color: #817c7c;
}
#main section.post a time {
  color: #817c7c;
  display: block;
  margin: 0.5em 0;
  font-size: 0.9em;
}
#main article.post-expand {
  background: #fafafa;
  margin-bottom: 3.5em;
}
#main article.post-expand .article-more-link {
  margin-top: 1.5em;
  padding-top: 1em;
  border-top: 2px solid #ddd;
}
#main article.post-expand .article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #ddd;
  color: #817c7c;
  text-decoration: none;
}
.section{
  background-color: #F08080;
}
.community-title{
  color: #823835;
  font-family: 'microsoft yahei';
}
.community-content{
  line-height:20px;
  color: #7746b5;
}