@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 13px;
	font-family: "Microsoft YaHei", "SimHei", "YouYuan", "Arial";
}

@font-face {
	font-family: 'iconfont';
	src: url('//at.alicdn.com/t/font_1476091087_347872.eot');
	/* IE9*/
	src: url('//at.alicdn.com/t/font_1476091087_347872.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('//at.alicdn.com/t/font_1476091087_347872.woff') format('woff'), /* chrome、firefox */
	url('//at.alicdn.com/t/font_1476091087_347872.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('//at.alicdn.com/t/font_1476091087_347872.svg#iconfont') format('svg');
	/* iOS 4.1- */
}


/*
*/

@charset "utf-8";
html,
body {
	border: 0;
	font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

table caption,
table th,
table td {
	text-align: left;
	vertical-align: middle;
}

a img {
	border: 0;
}

:focus {
	outline: 0;
}

a {
	text-decoration: none;
	color: #333;
}

ul,
ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 50px white inset;
}

table {
	border-collapse: collapse;
}

.clear {
	clear: both;
	line-height: 0;
}

.bgf8 {
	background: #f8f8f8;
}

.rc {
	color: #CC0000;
}

.bc {
	color: #8EB0DD !important;
}

.bold {
	font-weight: bold;
}

.textl {
	text-align: left !important;
}

.acenter {
	text-align: center;
}

body {
	position: relative;
}
.comments{
	margin-bottom: 20px;
}
.comments-userName{
	color: #0F88EB;
	font-family: "微软雅黑";
}
.comments-content{
	margin-left: 20px;
}
.comments-time{
	font-family: "微软雅黑";
	font-size: 10px;
	color: #999;
}
.comments-reply{
	font-family: "微软雅黑";
	font-size: 10px;
	color: #999;
}
.comments-reply:hover{
	font-family: "微软雅黑";
	font-size: 10px;
	color: #555;
}
.comments-like{
	font-family: "微软雅黑";
	font-size: 10px;
	color: #999;
}
.replysubmit{
	float: right;
	margin-top: 10px;
	padding: 5px 15px;
	font-family: "微软雅黑";
	font-size: 20px;
	background-color: #7b72e9;
	color: #ccc;
}
.topmenu {
	width: 100%;
	height: 29px;
	line-height: 29px;
	border-bottom: 1px solid #e5e5e5;
	background: #f2f2f2;
	z-index: 99;
}

.topmenu .menu {
	width: 1190px;
	margin: 0 auto;
}

.topmenu .menu p {
	float: left;
	font-size: 12px;
	font-family: "宋体";
	color: #333;
}

.topmenu .menu ul {
	float: right;
	height: 30px;
	/*解决小屏幕上电话部分跑偏*/
}

.topmenu .menu ul li {
	float: left;
}

.topmenu .menu ul li a {
	font-size: 12px;
	font-family: "宋体";
	color: #333;
	padding-left: 25px;
}

.topmenu .menu ul li a #triangle {
	position: relative;
	left: 3px;
	bottom: 5px;
}

.topmenu .menu ul li a #star {
	position: relative;
	top: 5px;
}

.topmenu .menu:before,
.topmenu .menu:after {
	content: " ";
	display: table;
}

.topmenu .menu:after {
	clear: both;
}

.header {
	width: 1190px;
	margin: 0 auto;
	height: 146px;
}

.header .logo {
	float: left;
	height: 86px;
	padding-top: 20px;
}

.header .logo .mainlogo {
	position: absolute;
	left: 190px;
	top: -20px;
}

.header .server {
	float: right;
	height: 78px;
	padding-top: 18px;
}

.header .server ul {
	height: 50px;
	padding-left: 60px;
	float: left;
	background: url(../img/u178.jpg) left center no-repeat;
	/*background: url(../img/tel.jpg) left center no-repeat;*/
}

.header .server ul li {
	font-size: 14px;
	line-height: 25px;
	color: #666;
}

.header .server ul span {
	font-weight: 800;
	color: #f72522;
}

.header .nav {
	width: 100%;
	border-bottom: 2px solid #CC0000;
	/*a:hover, li.active{
      background: url(../img/hover.jpg) left top repeat-x;
      background:#cc0000;
      color: #fff;
    }*/
	/*.myicgoo:hover, .dropmenu:hover{
      ul {
        display: block;
      }
    }*/
}

.header .nav #homemarket {
	position: relative;
}

.header .nav .icon {
	width: 22px;
	height: 15px;
	position: absolute;
	top: -5px;
	right: 16px;
	background: url(../img/new.gif);
}

.header .nav .link a:hover {
	color: #c00;
}

.header .nav .home_icgoo li a {
	font-size: 12px;
	font-family: "微软雅黑";
	font-weight: normal;
	padding: 0 9px;
}

.header .nav ul li {
	float: left;
	display: block;
	height: 38px;
	line-height: 38px;
}

.header .nav a {
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: bold;
	display: block;
	padding: 0 25px;
	margin: 0 5px;
}

.header .nav li.active {
	background: url(../img/hover.jpg) left top repeat-x;
	color: #fff;
}

.header .nav li.active a {
	color: #fff;
}

.header .nav .myicgoo {
	float: right;
	display: block;
	height: 37px;
	line-height: 37px;
	background: #f4f4f4;
	border: 1px solid #ccc;
	border-bottom: none;
	position: relative;
}

.header .nav .myicgoo a {
	font-weight: 400;
}

.header .nav .dropmenu {
	display: block;
	height: 37px;
	line-height: 37px;
	/*background: #f0f0f0;
      border: 1px solid #e3e3e3;*/
	border-bottom: none;
	position: relative;
	margin: 0 5px;
	/*background: url(../img/jiao1_u8.png) 100px 15px no-repeat;*/
	*z-index: 1;
	*background-position: 100px 15px;
}

.header .nav .dropmenu a:hover {
	background: none;
	color: #c00;
}

.header .nav .dropmenu:hover {
	background-image: none;
}

.header .nav .myicgoo ul,
.header .nav .dropmenu ul {
	display: none;
	width: 270px;
	position: absolute;
	background: #fff;
	/*border: 1px solid #e3e3e3;
        border-top: 2px solid #CC0000;*/
	border: 2px solid #fc9;
	left: 7px;
	top: 37px;
	z-index: 10;
	padding: 5px;
}

.header .nav .myicgoo ul span,
.header .nav .dropmenu ul span {
	width: 15px;
	height: 7px;
	position: absolute;
	display: block;
	top: -7px;
	left: 35px;
	background: url(../img/u248.png);
	z-index: 100;
}

.header .nav .myicgoo ul li,
.header .nav .dropmenu ul li {
	width: 120px;
	height: 28px;
	line-height: 26px;
	text-indent: 2px;
}

.header .nav .myicgoo ul .main_option,
.header .nav .dropmenu ul .main_option {
	color: #f60;
	font-weight: bold;
	text-indent: 1em;
	font-size: 14px;
}

.header .nav .myicgoo ul .login_li,
.header .nav .dropmenu ul .login_li {
	background: #CC0000;
	width: 83px;
	margin-left: 16px;
}

.header .nav .myicgoo ul .login_li a,
.header .nav .dropmenu ul .login_li a {
	color: #fff;
}

.header .nav .myicgoo ul .login_li a:hover,
.header .nav .dropmenu ul .login_li a:hover {
	background: none;
	color: #fff;
}

.header .nav .myicgoo ul a,
.header .nav .dropmenu ul a {
	font-size: 12px;
	font-family: "微软雅黑";
	font-weight: normal;
	padding: 0 10px;
}

.header .nav .myicgoo ul a:hover,
.header .nav .dropmenu ul a:hover {
	/*background: none;
          background: #f0f0f0;
          color: #333;*/
	text-decoration: underline;
	color: #c00;
}


/*首页的下拉菜单*/

.header .nav .nav_menu {
	height: 22px;
}

.header .nav ul .home_icgoo {
	float: right;
	display: block;
	height: 37px;
	line-height: 37px;
	border: 1px solid #ccc;
	border-bottom: none;
	position: relative;
	background-color: #f4f4f4;
	*z-index: 1;
}

.header .nav ul .home_icgoo a {
	font-weight: normal;
}

.header .nav ul .home_icgoo a span {
	display: inline-block;
	width: 14px;
	height: 8px;
	background: url(../img/jiao1_u8.png) no-repeat;
	*vertical-align: middle;
}

.header .nav ul .home_icgoo ul {
	display: none;
	width: 200px;
	position: absolute;
	background: #fff;
	border: 1px solid #e3e3e3;
	border-top: 2px solid #CC0000;
	right: -1px;
	top: 37px;
	z-index: 10;
	padding: 5px;
	overflow: hidden;
}

.header .nav ul .home_icgoo ul li {
	width: 100px;
	height: 26px;
	line-height: 26px;
}

.header .nav ul .home_icgoo ul a:hover {
	background: #f2f2f2;
}

.header .nav ul .home_icgoo ul .login_li {
	background: #CC0000;
	width: 83px;
	margin-left: 16px;
}

.header .nav ul .home_icgoo ul .login_li a {
	color: #fff;
}

.header .nav ul .home_icgoo ul .login_li a:hover {
	background: none;
	color: #fff;
}

p,
form {
	margin: 0;
	padding: 0;
}

.search_box {
	display: inline;
	float: left;
	margin: 29px auto auto 107px;
	width: 445px;
	overflow: hidden;
}

.search_box form {
	border: 2px solid #CC0000;
	overflow: hidden;
	height: 26px;
	width: 445px;
	/*margin-bottom:5px;*/
}

.search_box input {
	background: none;
	border: none;
	border-radius: 0;
	font-family: '微软雅黑';
	font-size: 16px;
	color: #999;
	float: left;
	display: inline;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.search_box .partno {
	width: 250px;
	height: 18px;
	line-height: 18px;
	padding-left: 34px;
	border-right: 1px solid #ccc;
	margin-top: 4px;
	background: url(../img/search_bg.jpg) left center no-repeat;
}

.search_box .qty {
	width: 78px;
	height: 18px;
	line-height: 18px;
	padding-left: 15px;
	margin-top: 4px;
}

.search_box .submit_btn {
	background: #CC0000;
	color: #fff;
	height: 26px;
	width: 94px;
	vertical-align: top;
	-webkit-appearance: none;
}

.search_box p {
	margin-top: 2px;
	color: #333;
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: normal;
	/*display: table-row;*/
}

.search_box p a {
	font-size: 13px;
	font-family: "微软雅黑";
	font-weight: normal;
	color: #666;
	letter-spacing: 1px;
	height: 22px;
	line-height: 22px;
	padding-right: 7px;
}

.search_box p input {
	float: none;
	/*vertical-align: middle;*/
}

.search_box p label {
	/*vertical-align: middle;
      color:#666;*/
}

.container {
	width: 1190px;
	margin: 0 auto;
	margin-top: 24px;
	min-height: 500px;
}

.container .breadlink {
	width: 100%;
	border-bottom: 1px solid #ccc;
	height: 34px;
	line-height: 34px;
}

.container .breadlink p {
	float: left;
	display: inline;
}

.container .breadlink p a {
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #333;
}

.container .breadlink p span {
	color: #f72522;
	letter-spacing: 1px;
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: bold;
	/* font-family: arial;*/
}

.container .breadlink p .line {
	padding: 0 6px;
	/*为兼容型号过长*/
	color: #ccc;
}

.container .breadlink .tip {
	margin-left: 60px;
	/*为兼容型号过长*/
	font-size: 13px;
	font-family: "微软雅黑";
	font-weight: normal;
	letter-spacing: 1px;
}

.container .breadlink .tip span {
	font-size: 13px;
	font-weight: bold;
}

.container:before,
.container:after {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.footer {
	width: 1190px;
	margin: 0 auto;
	margin-top: 20px;
	/*padding-bottom: 105px;*/
}

.footer p {
	text-align: center;
	border-bottom: 1px solid #ccc;
	height: 36px;
	line-height: 36px;
}

.footer p a {
	font-size: 12px;
	font-family: "微软雅黑";
	font-weight: normal;
	padding: 0 13px;
	border-right: 1px solid #ccc;
}

.footer p a.last {
	border-right: none;
}

.footer p a:hover {
	color: #f72522;
}

.footer ul {
	text-align: center;
	width: 680px;
	margin: 0 auto;
}

.footer ul li {
	padding-top: 15px;
	margin-right: 14px;
	display: inline;
}

.footer ul li span {
	font-size: 12px;
	font-family: "微软雅黑";
	font-weight: normal;
	padding: 0;
	height: 23px;
	line-height: 23px;
}

.footer ul li.last {
	margin-right: 0;
}

.tbox {
	width: 47px;
	position: fixed;
	bottom: 150px;
	right: 0;
}

.tbox a {
	display: block;
	width: 38px;
	height: 38px;
	background: #f2f2f2;
	margin: 5px 0;
	padding: 1px;
	border: 1px solid #eee;
}

.tbox a:hover {
	background: #f2f2f2;
}

.tbox ul {
	position: relative;
}

.tbox ul li ul {
	position: absolute;
	top: 0px;
	right: 47px;
	display: none;
	border: 1px solid #e1e1e1;
	background: #fff;
	width: 160px;
}

.tbox ul li ul li {
	padding: 8px 10px;
	margin: 2px 0;
	color: #666;
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: normal;
}

.tbox ul li ul li span {
	color: #333;
	padding-left: 20px;
}

.tbox ul li ul a {
	width: 30px;
	height: 30px;
	background: none;
	display: inline;
	border: none;
}

.tbox ul li:hover ul {
	display: block;
}

@media screen and (max-width: 1190px) {
	.container .breadlink p span {
		font-size: 12px;
	}
	.container .breadlink .tip {
		margin-left: 20px;
	}
}

.topAdv {
	width: 1160px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	margin: 0 auto;
	background: #fee4a7;
	position: relative;
	color: #000;
	font-size: 12px;
	font-family: "微软雅黑";
	font-weight: normal;
	padding-left: 30px;
}


/*
    以下为header内容
*/

.container {
	padding-right: 0px;
	padding-right: 0px;
}

header {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.bgColor {
	background-color: #eee;
}

.record li {
	list-style: none;
	display: inline-block;
	height: 70px;
	line-height: 70px;
}

.affix {
	top: 0px;
}

ul {
	display: inline-block;
}


/*
    以下内容为导航栏宽度以及结果宽度
*/

.supplier {
	width: 170px;
}

.model {
	width: 190px;
	word-break: break-all;
}

.manufacturer {
	width: 120px;
	word-break: break-all;
}

.batchNumber {
	width: 70px;
	word-break: break-all;
}

.encapsulation {
	width: 100px;
	word-break: break-all;
}

.storehouse {
	width: 48px;
}

.price {
	width: 88px;
}

.appraise {
	width: 100px;
}

.exchange {
	width: 180px;
}

.complaint {
	width: 50px;
}

.document {
	width: 50px;
}


/*body样式*/

.contaner {
	/*border: 1px solid #d0d0d0;*/
	padding: 20px;
	border-radius: 20px;
	min-height: 800px;
	/*height: 1000px;*/
	-webkit-box-shadow: inset 0 0 10px #d0d0d0;
	-moz-box-shadow: inset 0 0 10px #d0d0d0;
	box-shadow: inset 0 0 10px #d0d0d0;
	margin-bottom: 20px;
}

.contanerLeft {
	width: 20%;
	border-right: 1px solid #d0d0d0;
	padding-right: 5px;
	margin-right: 15px;
	float: left;
}

.contanerRight {
	width: 75%;
	margin-left: 12px;
	overflow: hidden;
}

.shiTi1 {
	border-top: 2px solid #dc929f;
	border-bottom: 2px solid #dc929f;
}

.shiTi1 img {
	vertical-align: middle;
}

.shiTi1 h1 {
	font-size: 16px;
	margin: 2px;
	padding: 5px;
	padding-left: 10px;
	background: #e71e48;
	color: #fff;
}

.shiTi1 a {
	float: right;
	color: #fff;
}

.shiTi2 img {
	width: 95%;
	height: 100%;
	vertical-align: middle;
	padding: 10px;
}

.shiTi3 {
	padding-left: 10px;
	padding-top: 12px;
}
.call{
	margin-bottom:  40px;
}
.tellUs {
	font-size: 14px;
	margin: 10px 0px;
	border-bottom: 1px solid #e5e5e5;
}

.tellUs img {
	vertical-align: middle;
	margin-left: 10px;
}

.contanerRight table {
	margin-top: 20px;
}

.contanerRight table tr td {
	line-height: 30px;
	padding: 0px 10px;
}

.biaoTi {
	text-align: right;
	background: #faf9f9;
}

.tellUs01 {
	border-top: 1px solid #dad9da;
	border-bottom: 1px solid #dad9da;
}

.tellUs01 h1 {
	font-size: 16px;
	color: #d0143b;
	font-weight: bold;
	padding-left: 8px;
	margin: 0px;
	padding: 10px 0px;
	background: -webkit-linear-gradient(#fff, #e4e3e3);
	background: -o-linear-gradient(#fff, #e4e3e3);
	background: -moz-linear-gradient(#fff, #e4e3e3);
	background: linear-gradient(#fff, #e4e3e3);
}

.tellUs01 h1 img {
	padding: 0px 12px;
}

/*body样式结束*/


/*
    以下为footer
*/

footer {
	margin-top: 150px;
	padding: 50px;
}